/* set-up */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
/* utility */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  flex-grow: 1;
  padding: 0px;

  display: flex;
  flex-direction: column;
}